@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500&display=swap');

/* Main color palette */

:root {
    --stone--white: #E2E3DEFF;
    --whitecliff--beige: #E0D9CF;
    --fossil--grey: #CDC6BC;
    --deep--onyx: #464543;
}

/* Main color palette ends */

/* Fond du site web style start */

p, h1, h2, h3, h4, li {
    color: var(--deep--onyx)  !important
}

.pp--materials-lgd {
    color:var(--deep--onyx);
    font-size:medium;
}

.website--container {
    background-color: #E2E3DEFF;
    width: 100%;
    height: 100%;
    padding: 0 5%;
    font-family: 'Hanken Grotesk', sans-serif;
}

.website--wrapper {
width: 100%;
height: 100%;
margin: auto;
background-color: #fff;
}

/* Fond du site web style ends  */

/* Navbar style Start */

.navbar--container, .navbar {
    background-color: #fff;
}



.navbar--border-wrapper {
    width: 100%; /* Largeur de la bordure */
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    padding-bottom: 1px;
  }
  
  .navbar--text--link {
    color: var(--deep--onyx);
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
  }

  .navbar--form--wrapper {
    padding-left: 50px;
  }
  
.navbar--search--btn {
 border-radius: 0px !important;
}

.navbar--search--textfield {
    width: 180% !important;
    border-radius: 0 !important;
    border: 1px solid var(--deep--onyx) !important; 
}

  .navbar--border--bottom {
    width: 99%;
    margin: 0 auto; 
    border: 2px solid #464543;;
  }
  

/* Navbar Style Ends */

/* Home Style Start */
.btn {
    border: 2px solid black;
}
.btn-outline-custom {
    padding: 5px;
    border: 1px solid var(--deep--onyx) !important; 
}

.btn-outline-custom:hover {
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #E2E3DEFF;
    --bs-btn-hover-border-color: #E2E3DEFF;
}

.home--title {
    font-weight: 900;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Hanken Grotesk', sans-serif;
}

.icon {
    color: tomato;
}

.main--title {
    font-weight: 900;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Hanken Grotesk', sans-serif;
}

.home--main--img > img {
    max-width: 100%;
    padding-top: 10px;
    margin: 0 auto;
}

.home--subtitle--content {
    display: flex;
    font-family: 'Hanken Grotesk', sans-serif;
}

.home--subtitle--text {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: auto;
width: 33%;
text-align: end;
font-family: 'Hanken Grotesk', sans-serif;
padding-bottom: 5px;
}

.home--subtitle--btn {
    margin-bottom: 5px;
}

.home--border {
    width: 100%; /* Largeur de la bordure */
    margin: 0 auto; /* Pour centrer la bordure horizontalement */
    border: 2px solid #464543;
    opacity: 1;
}  

.home--bestsell--cadlist {
    padding-bottom: 15px;
}

.home--bestsell--btn--container {
    height: 70px;
    width: 100%;
}

.home--bestsell--btn {
    padding: 20px;
    margin: 10px;
    height: 100%;
    width: 300px;
}


.home--categ--container{
    width: 100%;
    height: fit-content;
}

.home--categ--img{
width: 50%;
height: 100%;
padding-top: 30px;
}

.home--categ--list, .home--categ--container-list  {
    width: 95%;
}

.list-group-item {
   width: 100%;
}

.list-group-item:hover {
    color: var(--bs-white);
    background-color: #E2E3DEFF;
}

.custom-link {
    color: inherit;
    text-decoration: none;
  }
/* Home Style End */

/* Card Style Start */

.btn--card--fade {
    padding: 5px;
    border: 1px solid var(--deep--onyx) !important; 
    background: var(--fossil--grey) !important;
}
    
.btn--card--fade:hover {
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #E2E3DEFF;
    --bs-btn-hover-border-color: #E2E3DEFF;
}

.fade-link {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out;

    z-index: 1 !important;
}

.fade-link:hover {
opacity: 1;
}

.card--wrapper {
    border: none !important;
    border-radius: 0 !important;
    width: fit-content !important;
    padding: 10px !important;
    min-width: 250px;
    position: relative;
    overflow: hidden;

}

.card--wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond avec une opacité pour le grisage */
    opacity: 0;
    transition: opacity 0.3s ease; /* Transition pour une animation fluide */
    z-index: 0 !important;
  }

  .card--wrapper:hover::after {
    opacity: 0.5;
  }

.card--wrapper:hover .fade-link {
    opacity: 0.9;
    background-color: #f1f1f1 !important; 
  transition: background-color 0.3s ease !important; 
}

.portrait-image {
    display: flex !important;
    align-items: center !important;
    height: 300px !important;
    width: 200px !important;
}

.card--price {
    background-color: #fff !important;
    border: none !important;
}


.card--body {
    padding: 0 !important;
} */
/* Card Style End */

/* Product Page Style */

/* Footer Style Start */

.blockquote-footer {
    background-color: var(--stone--white) !important;
    margin-bottom: 0 !important;
}

.text-reset, .text-uppercase {
    color: var(--deep--onyx);
}

.footer--container {
    padding-left: 50px;
}

.footer--copyright--container {
background-color: #E2E3DEFF !important;
}

/* Footer Style Ends */

/* Contact form style starts */
.label--form--color {
    color: var(--deep--onyx);
}
.input--form--color {
    color: var(--fossil--grey);
}

.form--submit--btn {
    padding: 20px;
    margin: 10px;
    height: 100%;
    width: 150px;
    color: var(--deep--onyx) !important;
    background-color: var(--bs--white) !important;
}

.form--submit--btn:hover {
    --bs-btn-hover-color: var(--fossil--grey);
    --bs-btn-hover-bg: #E2E3DEFF;
    --bs-btn-hover-border-color: #E2E3DEFF;
}

/* Contact form style ends */