@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500&display=swap');

/* Main color palette */

:root {
    --stone--white: #E2E3DEFF;
    --whitecliff--beige: #E0D9CF;
    --fossil--grey: #CDC6BC;
    --deep--onyx: #464543;
}

/* Main color palette ends */

/* Fond du site web style start */

.website--container {
    background-color: #E2E3DEFF;
    width: 100%;
    height: 100%;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Hanken Grotesk', sans-serif;
}

.website--wrapper {
width: 100%;
height: 100%;
margin: auto;
background-color: #fff;
}

/* Fond du site web style ends  */

/* Navbar style Start */

.navbar--container, .navbar {
    background-color: #fff;
}

.navbar--border-wrapper {
    width: 100%; /* Largeur de la bordure */
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    padding-bottom: 1px;
  }
  
  .navbar--border--bottom {
    width: 99%;
    margin: 0 auto; 
    border: 2px solid #464543;;
  }
  

/* Navbar Style Ends */

/* Home Style Start */
.btn {
    border: 2px solid black;
}
.btn-outline-custom {
    padding: 5px;
    border: 2px solid black;
}

.btn-outline-custom:hover {
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #E2E3DEFF;
    --bs-btn-hover-border-color: #E2E3DEFF;
}

.home--title {
    font-weight: 900;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Hanken Grotesk', sans-serif;
}

.icon {
    color: tomato;
}

.main--title {
    font-weight: 900;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Hanken Grotesk', sans-serif;
}

.home--main--img > img {
    max-width: 100%;
    padding-top: 10px;
}

.home--subtitle--content {
    display: flex;
    font-family: 'Hanken Grotesk', sans-serif;
}

.home--subtitle--text {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: auto;
width: 33%;
text-align: end;
font-family: 'Hanken Grotesk', sans-serif;
}

.home--border {
    width: 100%; /* Largeur de la bordure */
    margin: 0 auto; /* Pour centrer la bordure horizontalement */
    border: 2px solid #464543;
    opacity: 1;
}  

.home--bestsell--cadlist {
    padding-bottom: 15px;
}

.home--bestsell--btn--container {
    height: 70px;
    width: 100%;
}

.home--bestsell--btn {
    padding: 20px;
    margin: 10px;
    height: 100%;
    width: 300px;
}


.home--categ--container{
    width: 100%;
    height: fit-content;
}

.home--categ--img{
width: 50%;
height: 100%;
padding-top: 30px;
}

.home--categ--container-list {
    width: 100%;
}

.home--categ--list {
    width: 100%;
}

.list-group-item {
   width: 100%;
}

.custom-link {
    color: inherit;
    text-decoration: none;
  }
/* Home Style End */

/* Footer Style Start */

.blockquote-footer {
    background-color: var(--fossil--grey) ;
    font-family: 'Hanken Grotesk', sans-serif;
}

.text-reset, .text-uppercase {
    color: var(--deep--onyx);
}

.footer--copyright--container {
background-color: var(--stone--white);
}

/* Footer Style Ends */